// .home {
//     background-image: url(../../public/images/photo-1600456899121-68eda5705257.avif);
//     background-size: cover;
// }
.card-img-top {
    height: 450px;
    object-fit: contain;
}

.card {
    height: 500px;
}
.discount_price {
    color: red;
    font-size: x-large;
}
